@using System.Globalization;
@model IEnumerable<Student>
<!--Student partial view-->
@if (Model != null)
{
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Age</td>
            <td>@student.EnrolledDate.ToString("MM/dd/yyyy",CultureInfo.InvariantCulture)</td>
        </tr>
    }
}
